---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

!pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/07/e6/e95c4eec6221bfd8528bcc4ea252a850bffcc4be88ebc367e23a1a84b0bb/xlrd-1.1.0-py2.py3-none-any.whl (108kB)
    100% |████████████████████████████████| 112kB 2.6MB/s
Installing collected packages: xlrd
Successfully installed xlrd-1.1.0

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
from google.colab import drive
drive.mount('/data')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /data

In [0]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [4]:
def normalize(text):
    return text.strip()
  
def read_university_towns(path_file="university_towns.txt"):
    ct = pd.read_csv(path_file, sep="\t", header=None, names=["all"])

    university_towns = pd.DataFrame(columns=["University", "RegionName", "State"])

    for index, row in ct.iterrows():
        name = row["all"]

        if "[edit]" in name:
            state = normalize(name[0:name.find("[")])
        else:
            index_towns = name.find("(")

            if index_towns <= 0:
                index_towns = name.find(",")

            if index_towns <= 0:
                print(name)
            else:
                towns = normalize(name[:index_towns])
                universities = name[index_towns + 1:]

                str_split = universities.split(",")

                for university in str_split:
                    df = pd.DataFrame({'University': [normalize(university)], 'RegionName': [towns], 'State': [state]})
                    university_towns = university_towns.append(df, ignore_index=True)

    return university_towns

def get_list_of_university_towns():
    ut = read_university_towns("/data/My Drive/DS1/data/university_towns.txt").drop(["University"], axis=1, index=None).drop_duplicates(keep='first').reset_index(drop=True)
    return ut
  
get_list_of_university_towns()

The Colleges of Worcester Consortium:
The Five College Region of Western Massachusetts:

                       RegionName          State
0                          Auburn        Alabama
1                        Florence        Alabama
2                    Jacksonville        Alabama
3                      Livingston        Alabama
4                      Montevallo        Alabama
5                            Troy        Alabama
6                      Tuscaloosa        Alabama
7                        Tuskegee        Alabama
8                       Fairbanks         Alaska
9                       Flagstaff        Arizona
10                          Tempe        Arizona
11                         Tucson        Arizona
12                    Arkadelphia       Arkansas
13                         Conway       Arkansas
14                   Fayetteville       Arkansas
15                      Jonesboro       Arkansas
16                       Magnolia       Arkansas
17                     Monticello       Arkansas
18                   Russellville       Arkansas
19                         Searcy       Arkansas
20                         Angwin     California
21                         Arcata     California
22                       Berkeley     California
23                          Chico     California
24                      Claremont     California
25                         Cotati     California
26                          Davis     California
27                         Irvine     California
28                     Isla Vista     California
29   University Park, Los Angeles     California
..                            ...            ...
485                          Wise       Virginia
486                    Chesapeake       Virginia
487                    Bellingham     Washington
488                        Cheney     Washington
489                    Ellensburg     Washington
490                       Pullman     Washington
491  University District, Seattle     Washington
492                        Athens  West Virginia
493                    Buckhannon  West Virginia
494                      Fairmont  West Virginia
495                     Glenville  West Virginia
496                    Huntington  West Virginia
497                    Montgomery  West Virginia
498                    Morgantown  West Virginia
499                 Shepherdstown  West Virginia
500                  West Liberty  West Virginia
501                      Appleton      Wisconsin
502                    Eau Claire      Wisconsin
503                     Green Bay      Wisconsin
504                     La Crosse      Wisconsin
505                       Madison      Wisconsin
506                     Menomonie      Wisconsin
507                     Milwaukee      Wisconsin
508                       Oshkosh      Wisconsin
509                   Platteville      Wisconsin
510                   River Falls      Wisconsin
511                 Stevens Point      Wisconsin
512                      Waukesha      Wisconsin
513                    Whitewater      Wisconsin
514                       Laramie        Wyoming

[515 rows x 2 columns]

In [5]:
def read_gdp(path_file="gdplev.xls"):
    gdp = pd.read_excel(path_file, skiprows=range(7), header=0)
    gdp.drop(columns=["Unnamed: 0", "Unnamed: 1", "Unnamed: 2", "Unnamed: 3", "Unnamed: 7"], inplace=True)
    gdp.columns = ["year_quarter", "current", "2009"]
    gdp["year"] = gdp.year_quarter.str[0:4].astype(int)
    gdp = gdp[gdp.year >= 2000]

    return gdp


states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}


def convert_state(state):
    if state in states:
        return states[state]

def get_recession_start():
    gdp = read_gdp("/data/My Drive/DS1/data/gdplev.xls")
    for i in range(1, len(gdp) - 1):
        if gdp.iloc[i - 1, 2] > gdp.iloc[i, 2] > gdp.iloc[i + 1, 2]:
            return gdp.iloc[i - 1, 0]

    return None

get_recession_start()

'2008q2'

In [6]:
def get_recession_end():
    gdp = read_gdp("/data/My Drive/DS1/data/gdplev.xls")
    is_not_stated = True

    for i in range(1, len(gdp) - 1):
        if is_not_stated:
            if gdp.iloc[i - 1, 2] > gdp.iloc[i, 2] > gdp.iloc[i + 1, 2]:
                is_not_stated = False
        else:
            if gdp.iloc[i - 1, 2] < gdp.iloc[i, 2] < gdp.iloc[i + 1, 2]:
                return gdp.iloc[i + 1, 0]

    return None
  
get_recession_end()

'2009q4'

In [7]:
def get_recession_bottom():
    gdp = read_gdp("/data/My Drive/DS1/data/gdplev.xls")
    for i in range(1, len(gdp) - 1):
        if gdp.iloc[i - 1, 2] > gdp.iloc[i, 2] > gdp.iloc[i + 1, 2]:
           return gdp.iloc[i + 1, 0]
    
    return None

get_recession_bottom()

'2008q4'

In [8]:
def read_home(path_file="City_Zhvi_AllHomes.csv"):
    home = pd.read_csv(path_file)

    home["State"] = home["State"].map(lambda x: convert_state(x))

    columns = ["RegionName", "State", "SizeRank"]
    for x in range(2000, 2017):
        for y in range(1, 5):
            if x > 2015 & y > 3:
                break

            column = str(x) + "q" + str(y)

            t1 = str(x) + "-" + str((y - 1) * 3 + 1).zfill(2)
            home[t1] = pd.to_numeric(home[t1], errors='coerce')

            t2 = str(x) + "-" + str((y - 1) * 3 + 2).zfill(2)
            home[t2] = pd.to_numeric(home[t2], errors='coerce')

            if x > 2015 & y > 2:
                home[column] = home[[t1, t2]].mean(axis=1)
            else:
                t3 = str(x) + "-" + str((y - 1) * 3 + 3).zfill(2)
                home[t3] = pd.to_numeric(home[t3], errors='coerce')
                home[column] = home[[t1, t2, t3]].mean(axis=1)

            columns.append(column)

    home = home[columns]

    return home
  
def convert_housing_data_to_quarters():
    home = read_home("/data/My Drive/DS1/data/City_Zhvi_AllHomes.csv")
    home = home.drop("SizeRank", axis=1)
    home = home.set_index(["RegionName", "State"], drop=True)

    return home

  
convert_housing_data_to_quarters()

,,2000q1,2000q2,2000q3,2001q1,2001q2,2001q3,2002q1,2002q2,2002q3,2003q1,...,2013q3,2014q1,2014q2,2014q3,2015q1,2015q2,2015q3,2016q1,2016q2,2016q3
RegionName,State,,,,,,,,,,,,,,,,,,,,,
New York,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,479500.0,5.031333e+05,5.154667e+05,522300.0,5.322667e+05,5.408000e+05,554300.0,5.828667e+05,5.916333e+05,587200.0
Los Angeles,California,2.070667e+05,2.144667e+05,220050.0,2.330000e+05,2.391000e+05,243950.0,2.619667e+05,2.727000e+05,284400.0,3.189000e+05,...,451650.0,4.842667e+05,4.980333e+05,507300.0,5.288000e+05,5.381667e+05,545600.0,5.660333e+05,5.774667e+05,584050.0
Chicago,Illinois,1.384000e+05,1.436333e+05,147300.0,1.569333e+05,1.618000e+05,165850.0,1.755000e+05,1.775667e+05,178250.0,1.871000e+05,...,179600.0,1.909000e+05,1.926333e+05,194750.0,2.010667e+05,2.060333e+05,207900.0,2.060667e+05,2.082000e+05,212000.0
Philadelphia,Pennsylvania,5.300000e+04,5.363333e+04,53950.0,5.533333e+04,5.553333e+04,56100.0,5.913333e+04,6.073333e+04,62000.0,6.473333e+04,...,110950.0,1.137333e+05,1.137333e+05,115200.0,1.162000e+05,1.179667e+05,120700.0,1.234333e+05,1.269333e+05,128700.0
Phoenix,Arizona,1.118333e+05,1.143667e+05,115750.0,1.196000e+05,1.215667e+05,122550.0,1.265333e+05,1.283667e+05,130000.0,1.357000e+05,...,152050.0,1.632333e+05,1.642667e+05,164950.0,1.715333e+05,1.741667e+05,178100.0,1.879000e+05,1.914333e+05,195200.0
Las Vegas,Nevada,1.326000e+05,1.343667e+05,135100.0,1.395333e+05,1.417333e+05,142950.0,1.493333e+05,1.509333e+05,152000.0,1.594667e+05,...,152800.0,1.660000e+05,1.700667e+05,173000.0,1.775000e+05,1.816000e+05,186250.0,1.946000e+05,1.972000e+05,199950.0
San Diego,California,2.229000e+05,2.343667e+05,243650.0,2.672000e+05,2.762667e+05,283250.0,3.012333e+05,3.128667e+05,327900.0,3.664333e+05,...,451950.0,4.740000e+05,4.802000e+05,487450.0,5.033667e+05,5.120667e+05,518750.0,5.293333e+05,5.362333e+05,539750.0
Dallas,Texas,8.446667e+04,8.386667e+04,84700.0,8.973333e+04,8.930000e+04,89000.0,9.256667e+04,9.380000e+04,95100.0,9.820000e+04,...,101850.0,1.053333e+05,1.066333e+05,108450.0,1.137000e+05,1.211333e+05,127500.0,1.405000e+05,1.446000e+05,149300.0
San Jose,California,3.742667e+05,4.065667e+05,428200.0,4.706667e+05,4.702000e+05,458550.0,4.414333e+05,4.577667e+05,471850.0,4.782667e+05,...,630850.0,6.611667e+05,6.794000e+05,693700.0,7.314333e+05,7.567333e+05,774200.0,8.036000e+05,8.189333e+05,822200.0
Jacksonville,Florida,8.860000e+04,8.970000e+04,91450.0,9.440000e+04,9.560000e+04,96800.0,1.012333e+05,1.034333e+05,105050.0,1.111000e+05,...,109250.0,1.189333e+05,1.207667e+05,121600.0,1.241667e+05,1.269000e+05,129750.0,1.339667e+05,1.372000e+05,139900.0
San Francisco,California,4.305000e+05,4.644667e+05,481850.0,4.940667e+05,4.961333e+05,501450.0,5.204333e+05,5.381667e+05,563900.0,5.776000e+05,...,825000.0,8.912667e+05,9.269333e+05,951400.0,1.000733e+06,1.060800e+06,1094500.0,1.121767e+06,1.119267e+06,1106400.0
Austin,Texas,1.429667e+05,1.452667e+05,148850.0,1.612333e+05,1.607333e+05,159400.0,1.589667e+05,1.575000e+05,156300.0,1.532000e+05,...,228000.0,2.435333e+05,2.488667e+05,252000.0,2.665000e+05,2.750333e+05,280850.0,2.935000e+05,3.014333e+05,304450.0
Detroit,Michigan,6.616667e+04,6.830000e+04,66600.0,6.750000e+04,6.836667e+04,69050.0,7.100000e+04,7.233333e+04,73650.0,7.543333e+04,...,37700.0,3.733333e+04,3.730000e+04,37050.0,3.620000e+04,3.583333e+04,36850.0,3.796667e+04,3.746667e+04,37900.0
Columbus,Ohio,9.436667e+04,9.583333e+04,96950.0,9.940000e+04,1.002667e+05,100850.0,1.034000e+05,1.048000e+05,106200.0,1.093000e+05,...,98550.0,1.017333e+05,1.031333e+05,104150.0,1.078667e+05,1.094333e+05,111000.0,1.167000e+05,1.182000e+05,120100.0
Memphis,Tennessee,7.250000e+04,7.320000e+04,73850.0,7.416667e+04,7.493333e+04,75400.0,7.633333e+04,7.676667e+04,77250.0,7.853333e+04,...,64700.0,6.696667e+04,6.810000e+04,68800.0,7.053333e+04,6.870000e+04,68600.0,7.090000e+04,7.416667e+04,75900.0
Charlotte,North Carolina,1.269333e+05,1.283667e+05,130000.0,1.329333e+05,1.332000e+05,132750.0,1.343667e+05,1.353667e+05,136100.0,1.358333e+05,...,144050.0,1.482667e+05,1.494667e+05,150350.0,1.551667e+05,1.579000e+05,159900.0,1.664667e+05,1.694333e+05,172400.0
El Paso,Texas,7.626667e+04,7.686667e+04,76650.0,7.823333e+04,7.830000e+04,77550.0,7.660000e+04,7.640000e+04,76850.0,7.726667e+04,...,111550.0,1.117667e+05,1.118000e+05,111750.0,1.115000e+05,1.113000e+05,111200.0,1.106667e+05,1.114667e+05,112200.0
Boston,Massachusetts,2.069333e+05,2.191667e+05,231100.0,2.496000e+05,2.570667e+05,265400.0,2.825000e+05,2.893000e+05,295950.0,3.153000e+05,...,396600.0,4.162000e+05,4.266667e+05,430450.0,4.485000e+05,4.553667e+05,462300.0,4.826000e+05,4.903667e+05,501700.0
Seattle,Washington,2.486000e+05,2.556000e+05,261650.0,2.710000e+05,2.724333e+05,273500.0,2.805000e+05,2.846000e+05,287900.0,2.958333e+05,...,417200.0,4.343000e+05,4.418000e+05,450000.0,4.679333e+05,4.933667e+05,510850.0,5.517333e+05,5.755333e+05,589700.0
Baltimore,Maryland,5.966667e+04,5.950000e+04,58800.0,5.956667e+04,6.013333e+04,61650.0,6.366667e+04,6.490000e+04,65650.0,6.670000e+04,...,100250.0,1.055667e+05,1.092333e+05,109900.0,1.080667e+05,1.114333e+05,113700.0,1.146667e+05,1.147333e+05,115150.0
Denver,Colorado,1.622333e+05,1.678333e+05,173300.0,1.865000e+05,1.925333e+05,195900.0,2.012333e+05,2.024333e+05,204050.0,2.075333e+05,...,251250.0,2.627000e+05,2.708667e+05,276000.0,2.976333e+05,3.103667e+05,318700.0,3.355667e+05,3.427667e+05,351550.0
Washington,District of Columbia,1.377667e+05,1.442000e+05,148750.0,1.497667e+05,1.551333e+05,163150.0,1.805000e+05,1.933000e+05,206550.0,2.347333e+05,...,409950.0,4.394667e+05,4.469333e+05,451850.0,4.661667e+05,4.810667e+05,492100.0,5.041000e+05,5.058000e+05,516250.0
Nashville,Tennessee,1.138333e+05,1.152667e+05,115650.0,1.180333e+05,1.191667e+05,120000.0,1.215667e+05,1.226333e+05,123550.0,1.250333e+05,...,152050.0,1.572333e+05,1.607000e+05,161700.0,1.714667e+05,1.762667e+05,180500.0,1.950667e+05,2.003667e+05,206100.0
Milwaukee,Wisconsin,7.803333e+04,7.906667e+04,80700.0,8.403333e+04,8.556667e+04,86800.0,8.953333e+04,9.136667e+04,92750.0,9.760000e+04,...,91450.0,9.170000e+04,9.216667e+04,92250.0,9.333333e+04,9.410000e+04,94100.0,9.466667e+04,9.636667e+04,98850.0
Tucson,Arizona,1.018333e+05,1.029667e+05,104200.0,1.072000e+05,1.087667e+05,110200.0,1.150000e+05,1.172000e+05,119250.0,1.239333e+05,...,134550.0,1.410667e+05,1.424667e+05,143300.0,1.441667e+05,1.451333e+05,146200.0,1.495333e+05,1.511667e+05,152700.0
Portland,Oregon,1.528000e+05,1.547667e+05,156500.0,1.599000e+05,1.618000e+05,163650.0,1.707667e+05,1.741333e+05,176700.0,1.839667e+05,...,266300.0,2.795667e+05,2.822333e+05,285550.0,3.019333e+05,3.119000e+05,322900.0,3.560000e+05,3.698000e+05,387050.0
Oklahoma City,Oklahoma,7.643333e+04,7.750000e+04,78450.0,7.983333e+04,8.040000e+04,81050.0,8.260000e+04,8.343333e+04,83600.0,8.610000e+04,...,115950.0,1.171333e+05,1.180333e+05,118750.0,1.208000e+05,1.223667e+05,124300.0,1.279000e+05,1.293000e+05,130300.0
Omaha,Nebraska,1.128000e+05,1.141000e+05,116250.0,1.208667e+05,1.197667e+05,118150.0,1.180667e+05,1.176333e+05,117400.0,1.186000e+05,...,127650.0,1.293667e+05,1.301000e+05,129950.0,1.330667e+05,1.344667e+05,136150.0,1.416333e+05,1.426667e+05,143450.0
Albuquerque,New Mexico,1.258667e+05,1.267000e+05,126450.0,1.271000e+05,1.277333e+05,128400.0,1.310667e+05,1.321000e+05,133150.0,1.346000e+05,...,162250.0,1.631667e+05,1.632667e+05,163800.0,1.651667e+05,1.659000e+05,166450.0,1.691000e+05,1.706333e+05,171900.0
Fresno,California,9.410000e+04,9.526667e+04,96250.0,1.005667e+05,1.035667e+05,106650.0,1.140333e+05,1.185333e+05,123600.0,1.393667e+05,...,153450.0,1.666000e+05,1.696333e+05,172800.0,1.804667e+05,1.820333e+05,185200.0,1.890333e+05,1.927333e+05,196450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Granite Shoals,Texas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,116500.0,1.184000e+05,1.169667e+05,117600.0,1.171667e+05,1.191000e+05,120700.0,1.337667e+05,1.400667e+05,146450.0
Piney Point,Maryland,1.556667e+05,1.551667e+05,158000.0,1.634000e+05,1.648333e+05,164300.0,1.782667e+05,1.812000e+05,187200.0,2.032000e+05,...,273100.0,2.856333e+05,2.964000e+05,308500.0,3.095667e+05,3.017000e+05,305100.0,3.195000e+05,3.241667e+05,324600.0
Maribel,Wisconsin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,136350.0,1.319000e+05,1.306000e+05,129150.0,1.312667e+05,1.301333e+05,129600.0,1.278333e+05,1.292667e+05,134200.0
Middleton,Idaho,1.060667e+05,1.043333e+05,102200.0,1.061667e+05,1.083667e+05,110850.0,1.141000e+05,1.141667e+05,116350.0,1.135000e+05,...,128700.0,1.403333e+05,1.443667e+05,145550.0,1.461667e+05,1.477333e+05,147850.0,1.539000e+05,1.571667e+05,160750.0
Bennett,Colorado,1.329000e+05,1.358333e+05,138950.0,1.483000e+05,1.521000e+05,154100.0,1.587333e+05,1.606333e+05,161450.0,1.620333e+05,...,140800.0,1.468000e+05,1.514667e+05,160450.0,1.780333e+05,1.844333e+05,190800.0,1.997667e+05,2.074667e+05,212600.0
East Hampstead,New Hampshire,1.618333e+05,1.691000e+05,173400.0,1.909000e+05,1.950667e+05,198400.0,2.123000e+05,2.122333e+05,215750.0,2.350333e+05,...,231100.0,2.468000e+05,2.495000e+05,251050.0,2.587333e+05,2.613667e+05,261200.0,2.725333e+05,2.778000e+05,282450.0
Garden City,Missouri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102300.0,1.047333e+05,1.055000e+05,103950.0,1.060333e+05,9.606667e+04,98750.0,1.062667e+05,1.116667e+05,113600.0
Mountainburg,Arkansas,5.716667e+04,6.433333e+04,67550.0,6.866667e+04,6.386667e+04,63300.0,6.533333e+04,6.600000e+04,65600.0,6.576667e+04,...,83250.0,8.176667e+04,8.160000e+04,84450.0,8.903333e+04,8.556667e+04,82800.0,9.833333e+04,1.019000e+05,103400.0
Oostburg,Wisconsin,1.072667e+05,1.081000e+05,111800.0,1.191000e+05,1.204333e+05,120450.0,1.198667e+05,1.185667e+05,116600.0,1.155000e+05,...,130250.0,1.306333e+05,1.295667e+05,128250.0,1.270667e+05,1.274000e+05,130000.0,1.327667e+05,1.341000e+05,136350.0
Twin Peaks,California,9.736667e+04,1.001667e+05,101350.0,1.040000e+05,1.076667e+05,109700.0,1.132000e+05,1.166000e+05,119750.0,1.321333e+05,...,136850.0,1.508000e+05,1.501000e+05,146850.0,1.435000e+05,1.523000e+05,154800.0,1.641667e+05,1.679667e+05,173500.0
Upper Brookville,New York,1.230967e+06,1.230967e+06,1234950.0,1.295167e+06,1.340033e+06,1389950.0,1.536167e+06,1.562033e+06,1596850.0,1.727567e+06,...,1700950.0,1.774267e+06,1.780633e+06,1758300.0,1.749867e+06,1.789600e+06,1773500.0,1.904500e+06,1.944067e+06,1968800.0
Volcano,Hawaii,9.870000e+04,1.053667e+05,112950.0,1.181333e+05,1.194000e+05,123350.0,1.233000e+05,1.169000e+05,114250.0,1.253000e+05,...,181650.0,1.968000e+05,2.064667e+05,225850.0,2.346333e+05,2.323667e+05,224950.0,2.420667e+05,2.489667e+05,247850.0
Wedgefield,South Carolina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,73550.0,7.380000e+04,7.436667e+04,70250.0,7.570000e+04,7.206667e+04,70450.0,6.886667e+04,7.426667e+04,80700.0
Williamston,Michigan,1.591667e+05,1.613000e+05,163800.0,1.664333e+05,1.686333e+05,171350.0,1.786667e+05,1.793333e+05,179900.0,1.850667e+05,...,155650.0,1.619000e+05,1.657000e+05,168750.0,1.744333e+05,1.758667e+05,178550.0,1.814667e+05,1.824000e+05,183000.0
Decatur,Arkansas,6.360000e+04,6.440000e+04,65300.0,6.720000e+04,6.770000e+04,66650.0,6.460000e+04,6.490000e+04,66550.0,7.040000e+04,...,85850.0,8.823333e+04,8.966667e+04,92250.0,9.350000e+04,9.490000e+04,95300.0,9.650000e+04,9.663333e+04,96850.0
Briceville,Tennessee,4.000000e+04,4.173333e+04,43500.0,4.480000e+04,4.530000e+04,45100.0,4.446667e+04,4.340000e+04,41700.0,4.016667e+04,...,52150.0,5.766667e+04,5.623333e+04,54750.0,4.963333e+04,4.590000e+04,47700.0,4.080000e+04,4.180000e+04,40850.0
Edgewood,Indiana,9.170000e+04,9.186667e+04,92750.0,9.893333e+04,1.000667e+05,100750.0,1.021667e+05,1.017667e+05,100550.0,1.027000e+05,...,85350.0,9.050000e+04,9.213333e+04,93650.0,9.586667e+04,9.433333e+04,96050.0,9.943333e+04,9.996667e+04,100950.0
Palmyra,Tennessee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,120650.0,1.194667e+05,1.227667e+05,126600.0,1.223000e+05,1.204667e+05,119250.0,1.276667e+05,1.328667e+05,137750.0
Saint Inigoes,Maryland,1.480667e+05,1.476000e+05,154750.0,1.642333e+05,1.682000e+05,166650.0,1.673000e+05,1.688000e+05,172650.0,1.894667e+05,...,267150.0,2.777667e+05,2.822333e+05,288750.0,2.847000e+05,2.807667e+05,278000.0,2.793333e+05,2.826333e+05,281400.0
Marysville,Indiana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,114650.0,1.159000e+05,1.166000e+05,115150.0,1.118667e+05,1.118000e+05,115550.0,1.282333e+05,1.232333e+05,124200.0
Forest Falls,California,1.135333e+05,1.144000e+05,114500.0,1.134333e+05,1.130000e+05,112500.0,1.187000e+05,1.250667e+05,126600.0,1.352333e+05,...,156300.0,1.700333e+05,1.653667e+05,165850.0,1.765333e+05,1.818000e+05,187850.0,1.886333e+05,1.898667e+05,186650.0
Bois D Arc,Missouri,1.078000e+05,1.069667e+05,107550.0,1.107000e+05,1.136667e+05,113300.0,1.130667e+05,1.154000e+05,116050.0,1.173000e+05,...,129300.0,1.364000e+05,1.375667e+05,137300.0,1.450333e+05,1.475667e+05,145850.0,1.468667e+05,1.437667e+05,144000.0
Henrico,Virginia,1.285667e+05,1.307667e+05,132150.0,1.352333e+05,1.367333e+05,138200.0,1.435333e+05,1.461333e+05,148450.0,1.548667e+05,...,194150.0,2.005000e+05,2.016333e+05,203650.0,2.065667e+05,2.104333e+05,212000.0,2.160333e+05,2.162000e+05,220150.0
Diamond Beach,New Jersey,1.739667e+05,1.831000e+05,188200.0,1.944000e+05,2.102667e+05,227300.0,2.599333e+05,2.656333e+05,279550.0,3.423667e+05,...,376350.0,3.795000e+05,3.818000e+05,388500.0,3.931667e+05,3.980000e+05,399150.0,4.045333e+05,4.039000e+05,399000.0
Gruetli Laager,Tennessee,3.540000e+04,3.546667e+04,36400.0,3.773333e+04,3.790000e+04,39250.0,4.156667e+04,4.163333e+04,41050.0,3.980000e+04,...,59450.0,5.843333e+04,5.556667e+04,55850.0,5.890000e+04,6.536667e+04,69550.0,7.533333e+04,7.646667e+04,77500.0
Town of Wrightstown,Wisconsin,1.017667e+05,1.054000e+05,110900.0,1.259667e+05,1.299000e+05,130050.0,1.319000e+05,1.342000e+05,132600.0,1.358000e+05,...,142800.0,1.437333e+05,1.448667e+05,146800.0,1.486667e+05,1.493333e+05,149750.0,1.498333e+05,1.512667e+05,155000.0
Urbana,New York,7.920000e+04,8.166667e+04,90550.0,9.486667e+04,9.853333e+04,102300.0,9.396667e+04,9.460000e+04,92350.0,8.813333e+04,...,126950.0,1.284667e+05,1.321333e+05,136600.0,1.417000e+05,1.378667e+05,136300.0,1.389667e+05,1.442000e+05,143000.0
New Denmark,Wisconsin,1.145667e+05,1.192667e+05,125050.0,1.438000e+05,1.469667e+05,148150.0,1.531333e+05,1.567333e+05,155000.0,1.504333e+05,...,177650.0,1.737333e+05,1.745667e+05,180200.0,1.876000e+05,1.886667e+05,188500.0,1.910667e+05,1.928333e+05,197600.0
Angels,California,1.510000e+05,1.559000e+05,157300.0,1.768333e+05,1.837667e+05,190350.0,1.840333e+05,1.861333e+05,192900.0,2.152667e+05,...,212450.0,2.283333e+05,2.444667e+05,253050.0,2.601000e+05,2.506333e+05,259300.0,2.765333e+05,2.716000e+05,269950.0
Holland,Wisconsin,1.510333e+05,1.505000e+05,152700.0,1.618667e+05,1.657333e+05,167750.0,1.657667e+05,1.619667e+05,163200.0,1.627000e+05,...,195400.0,2.019000e+05,2.012667e+05,201350.0,2.060000e+05,2.076000e+05,211900.0,2.219667e+05,2.280333e+05,234950.0

In [11]:
def is_university_town(town, university_towns):

    if town in university_towns:
        return True
    else:
        return False


def price_ratio(price_home):
    return (price_home['2008q3'] - price_home['2009q2']) / price_home['2008q3']


def check_mean(not_in_university_town, in_university_town):
    if not_in_university_town.mean() < in_university_town.mean():
        return 'non-university town'
    else:
        return 'university town'


def run_ttest():
    home = convert_housing_data_to_quarters()
    home = home.loc[:, '2008q3': '2009q2']

    home = home.reset_index()

    home['up&down'] = home.apply(price_ratio, axis=1)

    university_towns = get_list_of_university_towns()

    university_towns = set(university_towns["RegionName"])

    home['is_university_town'] = home.apply(lambda row: is_university_town(row["RegionName"], university_towns), axis=1)

    not_in_university_town = home[home['is_university_town'] == 0].loc[:, 'up&down'].dropna()
    in_university_town = home[home['is_university_town'] == 1].loc[:, 'up&down'].dropna()

    p_val = ttest_ind(not_in_university_town, in_university_town)[1]

    return p_val < 0.01, p_val, check_mean(not_in_university_town, in_university_town)
  
run_ttest()

The Colleges of Worcester Consortium:
The Five College Region of Western Massachusetts:

(True, 0.0002556257247981708, 'university town')